<%= link_to "Back", root_path %>
<h1>Deposit to my Account</h1>

<%= form_with(model: @transaction, url: transactions_deposit_path, method: :post ) do |form| %>
    <% if @transaction.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this @transaction from being saved:</h2>
  
        <ul>
          <% @transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field mb3">
      <%= form.hidden_field :action, class:"form-control", value: "Deposit" %>
    </div>
  
    <div class="field mb3">
        <%= form.label :amount, "Deposit Amount", class:"form-label" %>
      <%= form.number_field :amount, step: "0.01", min: "0.01", class:"form-control", placeholder: "Enter Deposit Amount" %>
    </div>

    <div class="field mb3">
      <%= form.hidden_field :to_account, class:"form-control", value: current_user.id %>
    </div>

    <div class="field mb3">
      <%= form.hidden_field :from_account, class:"form-control", value: 0 %>
    </div>
  
    <div class="field mb3">
      <%= form.submit "Submit", class:"btn btn-primary" %>
    </div>
  <% end %>